body {
    background-color: cyan;

}

#primer {

    background-color: chartreuse;
    display: inline-block;

}

a {
    text-decoration: none;
}

#segund {
    background-color: cadetblue;
    display: table-cell;

}

a:hover {
    background-color: blanchedalmond;
}

#tercer {
    background-color: crimson;
    display: table;
}

#b {
    background-color: chartreuse;
    display: block;
    border-radius: 100px;
    font-size: 2rem;

}

#c {
    background-color: cornflowerblue;
    display: block;
    border-radius: 100px;
    font-size: 2rem;

}

#d {
    background-color: darkorange;
    display: block;
    border-radius: 100px;
    font-size: 2rem;

}

#e {
    background-color: blue;
    display: block;
    border-radius: 100px;
    font-size: 2rem;

}